@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center m-3">Статьи</h2>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Специальный заголовок</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis fermentum mollis. Nulla at egestas elit. Vestibulum cursus mollis eros quis commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur arcu nunc, luctus quis aliquet at, mollis vitae eros. Morbi leo massa, sodales sed tellus ac, posuere egestas ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam luctus neque sed nisl volutpat tempus.

            Quisque quis sollicitudin metus. Maecenas sed risus tempor tortor cursus viverra et finibus tortor. Ut tincidunt libero id massa placerat vehicula. Vestibulum tincidunt quis felis rhoncus tristique. Proin tristique sapien leo, nec porta tellus mollis sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in condimentum massa, et accumsan libero.
        </p>
    </div>
    <div class="card-footer text-muted">
        2 days agо
    </div>
</div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Специальный заголовок</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis fermentum mollis. Nulla at egestas elit. Vestibulum cursus mollis eros quis commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur arcu nunc, luctus quis aliquet at, mollis vitae eros. Morbi leo massa, sodales sed tellus ac, posuere egestas ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam luctus neque sed nisl volutpat tempus.

Quisque quis sollicitudin metus. Maecenas sed risus tempor tortor cursus viverra et finibus tortor. Ut tincidunt libero id massa placerat vehicula. Vestibulum tincidunt quis felis rhoncus tristique. Proin tristique sapien leo, nec porta tellus mollis sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in condimentum massa, et accumsan libero.</p>
    </div>
    <div class="card-footer text-muted">
        2 days agо
    </div>
</div>
<div class="card text-center">
    
    <div class="card-body">

        <h5 class="card-title">Специальный заголовок</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis fermentum mollis. Nulla at egestas elit. Vestibulum cursus mollis eros quis commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur arcu nunc, luctus quis aliquet at, mollis vitae eros. Morbi leo massa, sodales sed tellus ac, posuere egestas ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam luctus neque sed nisl volutpat tempus.

            Quisque quis sollicitudin metus. Maecenas sed risus tempor tortor cursus viverra et finibus tortor. Ut tincidunt libero id massa placerat vehicula. Vestibulum tincidunt quis felis rhoncus tristique. Proin tristique sapien leo, nec porta tellus mollis sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam in condimentum massa, et accumsan libero.
        </p>
    </div>
    <div class="card-footer text-muted">
        2 days agо
    </div>
</div>